
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
@RenderBody()
<body>
    <div>
        <button type="button"
                Style="position: fixed; top:0; left:0; right:0;width: 120px;height: 30px;"
                id=" Click Me Back"
                onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">
            Click Me Back!
        </button>
    </div>
    <div>
        <link href="~/Content/Background.css" rel="stylesheet" type="text/css" />
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/select2")
@RenderSection("scripts", required: false)
</html>

