
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
@RenderBody()
<body>
    <div class="row">
        <div style="display:inline-block; margin-left: auto;" class="col-5">
            <form style="color:white;font:bold;">
                <b>Search for products:</b>
                <input type="text" name="searchString" />
                <input class="btn btn-primary" type="submit" value="Search!" />
            </form>
        </div>
        <label class="col-3" style="margin-left: auto">@Session["userName"]</label>
    </div>
    <div>
        <link href="~/Content/Background.css" rel="stylesheet" type="text/css" />
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/select2")
@RenderSection("scripts", required: false)
</html>
