@model JooleWeb.Models.login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>login</title>
<style>
    #login-div {
        position: absolute;
        left: 40%;
        top: 40%;
        border: 3px solid #ccc;
        padding: 10px;
    }

    .field-validation-error {
        color: red;
    }
</style>
<div id="login-div">
<table>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <tr>
            <td style="text-decoration:underline"> Log In and Choose Your Product
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.UserName)
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "emial", Attribute = new { placeholder = "plase enter your password" } })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ValidationMessageFor(m => m.UserName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Password)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "inputPassword",type = "password", Attribute = new { placeholder = "plase enter your password" } })


            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.ValidationMessageFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td></td>
            <td> <input type="submit" name="Login" value="Login" class="btn btn-primary float-right" /> </td>
        </tr>
    }
    @using (Html.BeginForm("Index", "SignUp", FormMethod.Post))
    {

        <tr>
            <td><p>Do Not Have Account</p></td>
            <td> <input type="submit" name="SignUp" value="SignUp" class="btn btn-success float-right" /> </td>
        </tr>


    }
</table>
 
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />